<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8" content="width=device-width"></meta>
        <title>CSCB63 Course Website</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}"></link>
    </head>
    <body>
        <div class="header">
            <span><a href="/index" class="headerElements">Home</a></span>
            <span><a href="/assignments" class="selected">Assignments</a></span>
            <span><a href="/lectures" class="headerElements">Lectures</a></span>
            <span><a href="/tutorials" class="headerElements">Tutorials</a></span>
            <span><a href="/tests" class="headerElements">Tests</a></span>
            <span><a href="/calendar" class="headerElements">Calendar</a></span>
            <span><a href="/feedback" class="headerElements">Feedback</a></span>
            <span><a href="/marks" class="headerElements">Marks</a></span>
            {% if not is_student %}
            <span><a href="/manage" class="headerElements">Manage</a></span>
            {% endif %}
            <form action="/logout" method="POST"><input type="submit" id="logoutButton" value="Logout"></form>
        </div>

        <div class="back"><div class="innerBack"><div class="contentOuter"><div class="postContainer">
            <div class="post">
                <div class="postTitle">Assignment 2</div>
                <div class="postText">
                    To be submitted to gradescope. <br>
                    <a href="a.pdf" target="_blank">a2.pdf</a>,
                    <a href="a.pdf" target="_blank">a2.tex</a>, Note new due date.
                </div>
            </div>

            <div class="post">
                <div class="postTitle">Assignment 1</div>
                <div class="postText">
                    To be submitted to gradescope. <br>
                    <a href="a.pdf" target="_blank">a1.pdf</a>,
                    <a href="a.pdf" target="_blank">a1.tex</a>, Small update Jan. 27 (noted in red)
                </div>
            </div>

        </div></div></div></div>
        <footer class="footer"><b>UTSC Computer Science Faculty: </b><a class="whiteText" href="https://www.utsc.utoronto.ca/cms/faculty-of-computer-science">link</a><br> This site was designed by Areeba Imran, and Joseph Dong</footer>
    </body>

</html>
