<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8" content="width=device-width"></meta>
        <title>CSCB63 Course Website</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}"></link>
    </head>
    <body>
        <div class="header">
            <span><a href="/index" class="headerElements">Home</a></span>
            <span><a href="/assignments" class="headerElements">Assignments</a></span>
            <span><a href="/lectures" class="headerElements">Lectures</a></span>
            <span><a href="/tutorials" class="headerElements">Tutorials</a></span>
            <span><a href="/tests" class="headerElements">Tests</a></span>
            <span><a href="/calendar" class="selected">Calendar</a></span>
            <span><a href="/feedback" class="headerElements">Feedback</a></span>
            <span><a href="/marks" class="headerElements">Marks</a></span>
            {% if not is_student %}
            <span><a href="/manage" class="headerElements">Manage</a></span>
            {% endif %}
            <form action="/logout" method="POST"><input type="submit" id="logoutButton" value="Logout"></form>
        </div>

        <div class="back"><div class="innerBack"><iframe class="calendar" src="https://calendar.google.com/calendar/embed?src=f2oogqnfo1q728k3lcbtr4v478%40group.calendar.google.com&ctz=America%2FToronto">
        </iframe></div></div>
        <footer class="footer"><b>UTSC Computer Science Faculty: </b><a class="whiteText" href="https://www.utsc.utoronto.ca/cms/faculty-of-computer-science">link</a><br> This site was designed by Areeba Imran, and Joseph Dong</footer>
    </body>

</html>
