<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8" content="width=device-width"></meta>
        <title>CSCB63 Course Website</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}"></link>
    </head>
    <body>
        <div class="header">
            <span><a href="/index" class="selected">Home</a></span>
            <span><a href="/assignments" class="headerElements">Assignments</a></span>
            <span><a href="/lectures" class="headerElements">Lectures</a></span>
            <span><a href="/tutorials" class="headerElements">Tutorials</a></span>
            <span><a href="/tests" class="headerElements">Tests</a></span>
            <span><a href="/calendar" class="headerElements">Calendar</a></span>
            <span><a href="feedback" class="headerElements">Feedback</a></span>
            <span>
                <form action="/logout" method="POST" class="headerElements">
                    <input type="submit" value="Logout">
                </form>
            </span>
        </div>

        <div class="back"><div class="innerBack"><div class="contentOuter"><div class="postContainer">
            <div class="post">
                <div class="postTitle">Course Description</div>
                <div class="postText">
                    Design, analysis, implementation and comparison of efficient data structures for common abstract data types. Priority queues: heaps and mergeable heaps. Dictionaries: balanced binary search trees, B-trees, hashing. Amortization: data structures for managing dynamic tables and disjoint sets. Data structures for representing graphs. Graph searches. <br><br>

                    <b>Exclusion:</b> CSC263H, CSC265H, (CSCC78H)<br>
                    <b>Prerequisite:</b> CSCB36H or (CSCB38H) & [CGPA 2.75 or enrolment in a CSC subject POSt]<br>
                    <b>Syllabus: </b> <a href="a.pdf" target="_blank">syllabus.pdf</a>
                </div>
            </div>
            <div class="post">
                <div class="postTitle">Useful Links</div>
                <div class="postText">
                    <b>Piazza:</b>
                    <a href="http://www.piazza.com" target="_blank">Piazza</a><br>
                    <b>MarkUs:</b>
                    <a href="https://markus.teach.cs.toronto.edu" target="_blank">MarkUs</a>
                </div>
            </div>
            <div class="post">
                <div class="postTitle">Course Team</div>
                <div class="postText">
                    <b>Dr. Anna Bretscher</b><br>
                    <b>Email:</b> anna.bretscher@utoronto.ca<br>
                    <b>Office:</b> IC 493<br>

                </div>
            </div>
            <div class="post">
                <div class="postTitle">Timetable</div>
                <div class="postText">
                    <b>Lectures:</b>
                    Wednesdays 3-4pm
                    <a href="a.pdf" target="_blank">Zoom Link</a>, Thursdays 9:10-11:00
                    <a href="a.pdf" target="_blank">Zoom Link</a>


                    Wednesdays 3-4pm <a href="a.pdf" target="_blank">Zoom Link</a>, Thursdays 9:10-11:00 <a href="a.pdf" target="_blank">Zoom Link</a><br><br>

                    <b>Office Hours:</b>

                    Usually Mondays 11:00-12:30, Friday 10:40-11:30. Please see the /calendar for weekly changes.
                </div>
            </div>
            <div class="post">
                <div class="postTitle">LaTeX Guide</div>
                <div class="postText">
                    For LaTeX installations, go to the latex project install <a href="a.pdf" target="_blank">website</a>. Both the Windows and Mac versions listed come with editors as well as the packages and compilers.<br><br>

                    Once you are up and running, I recommend downloading the<a href="a.pdf" target="_blank"> Not So Short Guide to LaTeX</a>. Everything you need is there, however it may be overkill. You can also start with this <a href="a.pdf" target="_blank">template.tex</a> and add as you need.
                </div>
            </div>

        </div></div></div></div>
        <footer class="footer"><b>UTSC Computer Science Faculty: </b><a class="whiteText" href="https://www.utsc.utoronto.ca/cms/faculty-of-computer-science">link</a><br> This site was designed by Areeba Imran, and Joseph Dong</footer>
    </body>

</html>
