<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8" content="width=device-width"></meta>
        <title>CSCB63 Course Website</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}"></link>
    </head>
    <body>
        <div class="header">
            <span><a href="/index" class="headerElements">Home</a></span>
            <span><a href="/assignments" class="headerElements">Assignments</a></span>
            <span><a href="/lectures" class="selected">Lectures</a></span>
            <span><a href="/tutorials" class="headerElements">Tutorials</a></span>
            <span><a href="/tests" class="headerElements">Tests</a></span>
            <span><a href="/calendar" class="headerElements">Calendar</a></span>
            <span><a href="/feedback" class="headerElements">Feedback</a></span>
            <span><a href="/marks" class="headerElements">Marks</a></span>
            {% if not is_student %}
            <span><a href="/manage" class="headerElements">Manage</a></span>
            {% endif %}
            <form action="/logout" method="POST"><input type="submit" id="logoutButton" value="Logout"></form>
        </div>

        <div class="back"><div class="innerBack"><div class="contentOuter"><div class="postContainer">

            <div class="post">
                <div class="postTitle">Lecture 7 Thursday</div>
                <div class="postText">
                    <b>Topic:</b> Amortized Analysis<br>
                    <b>Exercise:</b> None<br>
                    <b>Slides:</b>
                    <a href="a.pdf" target="_blank">Potential Lecture slides</a>,
                    <a href="a.pdf" target="_blank">Potential Lecture In Class</a>,
                    <a href="a.pdf" target="_blank">Zoom Link</a>,
                </div>
            </div>

            <div class="post">
                <div class="postTitle">Lecture 7 Wednesday</div>
                <div class="postText">
                    <b>Topic:</b> Amortized Analysis<br>
                    <b>Exercise:</b> Ch. 17.4, Ch. 21<br>
                    <b>Slides:</b>
                    <a href="a.pdf" target="_blank">Amortized Lecture slides</a>,
                    <a href="a.pdf" target="_blank">Amortized Lecture slides In Class</a>,
                    <a href="a.pdf" target="_blank">Zoom Link</a>,
                </div>
            </div>

            <div class="post">
                <div class="postTitle">Lecture 6 Thursday</div>
                <div class="postText">
                    <b>Topic:</b> Proof of Prims, Dijkstra's Algorithm, Strongly Connected Components<br>
                    <b>Exercise:</b> 22.5, Review DFS - make sure you understand it<br>
                    <b>Slides:</b>
                    <a href="a.pdf" target="_blank">Strongly Connected Components Slides</a>,
                    <a href="a.pdf" target="_blank">SCC Examples</a>,
                    <a href="a.pdf" target="_blank">Zoom Link</a>,
                </div>
            </div>

            <div class="post">
                <div class="postTitle">Lecture 6 Wednesday</div>
                <div class="postText">
                    <b>Topic:</b> Proof of Prims, Dijkstra's Algorithm, Strongly Connected Components<br>
                    <b>Exercise:</b> Ch 24.3, Practice Prims algorithm<br>
                    <b>Slides:</b>
                    <a href="a.pdf" target="_blank">MST In Class</a>,
                    <a href="a.pdf" target="_blank">Dijkstra</a>,
                    <a href="a.pdf" target="_blank">Zoom Link</a>,
                </div>
            </div>

            <div class="post">
                <div class="postTitle">Lecture 5 Thursday</div>
                <div class="postText">
                    <b>Topic:</b> Graph Searches and Minimum Spanning Trees	<br>
                    <b>Exercise:</b>If you have not had your tutorial, read the graph handout on the /tutorials page. <br>
                    <b>Slides:</b>
                    <a href="a.pdf" target="_blank">Graph Search Slides</a>,
                    <a href="a.pdf" target="_blank">Searches Worksheet</a>,
                    <a href="a.pdf" target="_blank">MST Slides</a>,
                    <a href="a.pdf" target="_blank">MST Worksheet</a>,
                    <a href="a.pdf" target="_blank">Zoom Link</a>,
                    <a href="a.pdf" target="_blank">In Class Graph Notes</a>,
                    <a href="a.pdf" target="_blank">MST in class Only to slide 15</a>,
                </div>
            </div>

            <div class="post">
                <div class="postTitle">Lecture 5 Wednesday</div>
                <div class="postText">
                    <b>Topic:</b> Graph Searches and Minimum Spanning Trees<br>
                    <b>Exercise:</b> Term Test Wed<br>
                    <b>Slides:</b> None
                </div>
            </div>

            <div class="post">
                <div class="postTitle">Lecture 4 Thursday</div>
                <div class="postText">
                    <b>Topic:</b> Finish Interval Trees, Heaps and Graph Search Algorithms<br>
                    <b>Exercise:</b> Chapter 6.1-6.4<br>
                    <b>Slides:</b>
                    <a href="a.pdf" target="_blank">Heaps Inclass</a>,
                    <a href="a.pdf" target="_blank">Heap Building Example</a>,
                    <a href="a.pdf" target="_blank">Zoom Link</a>,
                </div>
            </div>

            <div class="post">
                <div class="postTitle">Lecture 4 Wednesday</div>
                <div class="postText">
                    <b>Topic:</b> Finish Interval Trees, Heaps and Graph Search Algorithms<br>
                    <b>Exercise:</b>None<br>
                    <b>Slides:</b>
                    <a href="a.pdf" target="_blank">Interval Tree Search Proof Heaps</a>,
                    <a href="a.pdf" target="_blank">Zoom link</a>,
                </div>
            </div>

            <div class="post">
                <div class="postTitle">Lecture 3 Thursday</div>
                <div class="postText">
                    <b>Topic:</b> AVL Trees height, and Augment. Interval Trees<br>
                    <b>Exercise:</b> None<br>
                    <b>Slides:</b>
                    <a href="a.pdf" target="_blank">Interval Trees Solutions</a>,
                    <a href="a.pdf" target="_blank">Interval Trees In Class</a>,
                    <a href="a.pdf" target="_blank">Zoom Recording</a>
                </div>
            </div>

            <div class="post">
                <div class="postTitle">Lecture 3 Wednesday</div>
                <div class="postText">
                    <b>Topic:</b> AVL Trees height, and Augment. Interval Trees<br>
                    <b>Exercise:</b> None<br>
                    <b>Slides:</b>
                    <a href="a.pdf" target="_blank">AVL trees augmenting worksheet</a>,
                    <a href="a.pdf" target="_blank">In class worksheet</a>,
                    <a href="a.pdf" target="_blank">Zoom Recording</a>,
                </div>
            </div>

            <div class="post">
                <div class="postTitle">Lecture 2 Thursday</div>
                <div class="postText">
                    <b>Topic:</b> Balanced Trees (AVL)<br>
                    <b>Exercise:</b> Refresh your understanding of binary search trees
                    <a href="a.pdf" target="_blank">video visualization applet</a><br>
                    <b>Slides:</b>
                    <a href="a.pdf" target="_blank">Worksheet</a>,
                    <a href="a.pdf" target="_blank">Inclass Worksheet</a>,
                    <a href="a.pdf" target="_blank">Slides</a>,
                    <a href="a.pdf" target="_blank">Zoom Recording</a>
                </div>
            </div>

            <div class="post">
                <div class="postTitle">Lecture 2 Wednesday</div>
                <div class="postText">
                    <b>Topic:</b> Balanced Trees (AVL) <br>
                    <b>Exercise:</b> None <br>
                    <b>Slides:</b>
                    <a href="a.pdf" target="_blank">worksheet.pdf</a>,
                    <a href="a.pdf" target="_blank">Inclass Worksheet slides</a>,
                    <a href="a.pdf" target="_blank">Zoom Recording</a>
                </div>
            </div>

            <div class="post">
                <div class="postTitle">Lecture 1 Thursday</div>
                <div class="postText">
                    <b>Topic:</b> Intro, Worst Case Complexity <br>
                    <b>Exercise:</b>
                    <a href="a.pdf" target="_blank">CLRS 3.1 (not including little "oh")</a>, or watch
                    <a href="a.pdf" target="_blank"> Big Oh Video</a><br>
                    <b>Slides:</b>
                    <a href="a.pdf" target="_blank">Worksheet PDF</a>,
                    <a href="a.pdf" target="_blank"> Zoom Worksheet1_class Slides PDF </a>
                </div>
            </div>

            <div class="post">
                <div class="postTitle">Lecture 1 Wednesday</div>
                <div class="postText">
                    <b>Topic:</b> Intro, Worst Case Complexity <br>
                    <b>Exercise:</b> None <br>
                    <b>Slides:</b> <a href="a.pdf" target="_blank">Intro Slides PDF</a> <br>
                </div>
            </div>
        </div></div></div></div>
        <footer class="footer"><b>UTSC Computer Science Faculty: </b><a class="whiteText" href="https://www.utsc.utoronto.ca/cms/faculty-of-computer-science">link</a><br> This site was designed by Areeba Imran, and Joseph Dong</footer>
    </body>

</html>
