<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8" content="width=device-width"></meta>
        <title>CSCB63 Course Website</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}"></link>
    </head>
    <body>
        <div class="header">
        </div>

        <div class="back"><div class="innerBack"><div class="contentOuter">
            <form action="/login" method="post">
                <label for="username">username</label>
                <br>
                <input name="username" id="username" type="text">
                <br>
                <label for="password">password</label>
                <br>
                <input name="password" id="password" type="text">
                <br>
                <input type="submit" value="Submit">
            </form>
        </div></div></div>
        <footer class="footer"><b>UTSC Computer Science Faculty: </b><a class="whiteText" href="https://www.utsc.utoronto.ca/cms/faculty-of-computer-science">link</a><br> This site was designed by Areeba Imran, and Joseph Dong</footer>
    </body>

</html>
